#placeList {
  margin-top: 25px;
}

#showTravelInfo {
  display: none;
}

.listItem {
  cursor: pointer;
  color: #0088cc;
}

.listItem:hover {
  text-decoration: underline;
}

img {
  width: 300px;
  height: auto;
}
